	<div class="box3 col-xs-10 col-xs-offset-1">
	  	 <h8 class:"navbar-link">
	  	     <%= @post.title %></h8><br /><br />
    	 <h2><%= @post.blogpost %></h2><br /><br />
    	 <h7><%= @post.created_at.strftime("%b %d, %Y") %></h7><br />
    	 <div class="pull-right">
            <% if current_user && current_user == @post.user %>
    	 	<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
            <%= link_to 'Delete', post_path(@post), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-danger' %>
            <% end %>
    	 	
    	 </div>

    </div>